* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin: 0 auto;
    text-align: center;
}

h2 {
    text-align: center;
}

body {
    user-select: none;
    background-color: antiquewhite;
}

.Column {
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    background-color: #FAFAFA;
    transition: 0.1s;
    
    width: 30%;
}



.Item-Child {
    display: inline-block;
    text-align: center;
    width: 20%;
    padding-bottom: 0%;
    background-color: powderblue;
    border-radius: 5px;
    border-width: 0px;
    transition: 0.3s;
}

.Item-Child:hover {
    background-color: cornflowerblue;
}

.Item-Name {
    width: 60%;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    border-width: 1px;
}

.Item {
    width: 94%;
    min-height: 60px;
    margin-left: 3%;
    border-radius: 5px;
    border-width: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: powderblue;
    justify-content: center;
    display: inline-flex;
}

.Column-Title {
    padding-top: 1%;
    padding-bottom: 1%;
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
}

.Column-Content {
    display: inline-block;
    width: 100%;
    min-height: 100px;
}

.Title {
    background-color: powderblue;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.Main {
    margin: auto;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
}

.AddButton {
    width: 100%;
    background-color: #FAFAFA;
    border-radius: 5px;
    border-color: powderblue;
    border-width: 4px;
    font-size: 30px;
    transition: 0.3s;
}

.AddButton:hover {
    background-color: transparent;
}


