* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin: 0 auto;
    text-align: center;
}

h2 {
    text-align: center;
}

body {
    user-select: none;
}

.Column {
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    background-color: #FFFFFF;
    transition: 0.1s;
    
    width: 31%;
}



.Item-Child {
    display: inline-block;
    text-align: center;
    width: 20%;
    height: 8%;
    padding-bottom: 0%;
}

.Item-Name {
    width: 60%;
    text-align: center;
}

.Item {
    width: 94%;
    min-height: 60px;
    margin-left: 3%;
    border-radius: 5px;
    margin-top: 3%;
    background-color: powderblue;
    justify-content: center;
    display:inline-flex;
}

.Column-Title {
    padding-top: 1%;
    padding-bottom: 1%;
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
}

.Column-Content {
    display: inline-block;
    width: 100%;
    min-height: 100px;
}

.Title {
    width: 100%;
    background-color: green;
    margin-bottom: 10px;
}

body {
    background-color: black;
}


.Main {
    margin: auto;
    width: 70%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    background-color: blue;
}

.AddButton {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border-color: powderblue;
    border-width: 4px;
    font-size: 30px;
    transition: 0.3s;
}

.AddButton:hover {
    background-color: transparent;
}
